# Node.js dependencies
node_modules/

# Variables d'environnement
.env

# Fichiers de debug et logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers systèmes Mac et Windows
.DS_Store
Thumbs.db

# Dossiers de build ou temporaires
dist/
build/
temp/

# IDEs spécifiques
.vscode/
.idea/
*.iml

# Fichiers générés
package-lock.json
yarn.lock

# État local de l'intégration Kerrigan's Eyes
data/
